/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
app/Filament/Clusters
app/Filament/Resources/SampleResource
app/Filament/Resources/FaktorResource
app/Filament/Resources/BobotResource
app/Filament/Resources/AspekResource
app/Filament/Resources/AspekResource.php
app/Filament/Resources/BobotResource.php
app/Filament/Resources/FaktorResource.php
app/Filament/Resources/SampleResource.php
resources/views/filament
database/seeders/Aspek.php
database/seeders/Bobot.php
database/seeders/Faktor.php
database/seeders/Sample.php
database/migrations/2025_03_31_154050_create_aspeks_table.php
database/migrations/2025_03_31_154127_create_bobots_table.php
database/migrations/2025_03_31_154140_create_faktors_table.php
database/migrations/2025_04_01_033746_create_samples_table.php
app/Models/Aspek.php
app/Models/Bobot.php
app/Models/Faktor.php
app/Models/Sample.php